/* ЗАГАЛЬНІ ПАРАМЕТРИ ДЛЯ УСІХ СЕКЦІЙ START*/
html, body, .header-background{
    width: 100%;                /* Задали ширину - на всю ширину екрана */
}

body{                                      /* Задали спільний вид та тип шрифта для усіх секцій */
    font-family: "Montserrat", sans-serif; /* Задали вид та тип шрифта */
}

.container{         /* Задали контейнер для змісту усіх секцій */
    width: 1160px;  /* Задали ширину контейнера */
    margin: 0 auto; /* Вирівняли контейнер по центру */
}

.section-title{     /* Задали загальні параметри для усіх надписів заголовків секцій */
    position: relative;
    text-align: center;
    color:  #4e4e4e;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 112px;
}

.section-title:after{  /* Задали блок для двох скошених ліній*/
    content: "";       /* Блок не має змісту */
    height: 4px;       /* Задали висоту блока */
    width: 76px;       /* Задали ширину блока */
    display: block;    /* Відображаємо сам блок */
    margin: 0 auto;    /* Вирівняли блок по центру */
    margin-top: 37px;  /* Задали відступ блока від верху */
    margin-bottom: 70px;    /* Задали відступ блока від низу */
    transform: skew(70deg); /* Задали градус скошеності */
    border-top: 1px solid #18cfab;    /* Відображаємо верхню границю блока */
    border-bottom: 1px solid #18cfab; /* Відображаємо нижню границю блока знизу */
}

.sect-btn{     /* Задали загальні параметри для усіх кнопок */
    border-radius: 4px;
    width: 166px;
    height: 61px;
    display: inline-block;
    outline-style: none;
    font-size: 13px;
    font-weight: 700;
    color: white;
    border: none;
    margin: 0 14px;
    box-shadow: 0 -4px 0 #fff;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.fa-plus{ /* Задали параметри для плюсика у кнопках де передбачається загрузка картинок */
    font-size: 16px;  /* Задали розмір самого плюсика */
    margin-right: 16px; /* відступ з правої сторони від плюсика */
}

.load-9type{
    width: 50px;
    height: 50px;
    margin: 0 5px 5px 0;
    padding: 5px 5px 5px;
    border-radius: 5px;
    text-align: center;
}

.bubble-1, .bubble-2 {
    position: absolute;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #4b9cdb;
}

.bubble-2 {
    top: auto;
    bottom: 0;
}

.load-9type .spinner {
    animation: loadingI 2s linear infinite;
}

.load-9type .bubble-1, .load-9type .bubble-2 {
    animation: bounce 2s ease-in-out infinite;
}

.load-9type .bubble-2 {
    animation-delay: -1s;
}

@keyframes loadingI {
    100% {transform: rotate(360deg);}
}

@keyframes bounce  {
  0%, 100% {transform: scale(0.0);}
  50% {transform: scale(1.0);}
}
/* ЗАГАЛЬНІ ПАРАМЕТРИ ДЛЯ УСІХ СЕКЦІЙ END */


/* HEADER START */
.upper-background{
    background-image: url('../images/bgimg-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.header {
    display: flex;
    background-color:  rgba(73, 71, 63, 0.6);
    margin-bottom: 245px;
}

.container-floats{
    box-sizing: border-box;
    width: 215px;;
}

.clearfix::after{
    content:'';
    display: table;
    clear: both;
}

.header-logo{
    position: relative;  
}

.poligon{
    position: absolute;
    float: left;
    width: 58px;
    margin-top: -4px;
    margin-left: 17px;
    left: -2px;
    top: -5px;
}

.letter-H{
    position: absolute;
    float: left;
    width: 26px;
    height: 28px;
    left: 32px;
    top: 10px;
}

.header-title{
    display: inline-block;
    color:  #ffffff;
    font-size: 32px;
    font-weight: 400;
    padding: 10px 92px;
}

.green-letters{
    color:  #18cfab;
    font-weight: 700;
    text-align: left;
}

.navbar{
    display: flex;
    flex-wrap: nowrap;
    height: 120px;
}

.nav-link{
    display: inline-block;
    margin-left: 18px;
    color:  #b8b8b8;
    font-size: 13px;
    font-weight: 700;
    height: 122px;
    box-sizing: border-box;
    text-transform: uppercase;
    text-decoration: none; 
    line-height: 120px;
    border-bottom: 2px solid transparent;
    transition: 0.3s border-bottom ease-in-out;
}

.nav-link:last-child{
    margin-right: 0px;
}

.nav-link:hover{
    color:  #18cfab;
    border-bottom: 2px solid #18cfab;
}

i.fas {
    font-size: 23px;
    padding-right: 1px;
    padding-top: 7px;
}

.search-element {
    padding: 45px 0;
    margin-left: 10px;
    transition: all 0.5s ease;
}

.search-element.active {
    border-color: grey;
    transition: all 0.5s ease;
}

.input {
    width: 120px;
    background: grey;
    border: transparent;
    transform: rotateY(10px);
    cursor: pointer;
}

#search.input{
    width: 80%;
    height: 39px;
    transition: all 0.5s ease;
    background-color: grey;
    border: 1px solid transparent;
    border-radius: 7px; 
    color: rgb(56, 55, 55);
    padding-left: 10px;
    cursor: pointer;
}

#search.input.active{
    background-color: white;
    border-color:#cce2ee;
}

input::placeholder {
    color: rgb(56, 56, 56);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
}
/* HEADER END */


/* OUR THEMES START */
.ham-theme{
    color:  #ffffff;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.green-text{
    color:   #18cfab;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.ham-slogan{
    color:  #ffffff;
    font-size: 79px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 37px;

}

.buy-enjoy{
    color:  #d4d4d4;
    font-size: 34px;
    font-weight: 300;
    text-align: center;
}

.ourThemes-footer{
    display: flex;
    justify-content: center;
    margin-top: 145px;
    padding-bottom: 245px;
}

.btn-green{
    background-color:  #18cfab;
    line-height: 61px;
}

.btn-disabled-green:hover{
    opacity: 0.6;
    cursor: not-allowed;
}

.btn-blue{
    background-color:  #00cbf6;
    line-height: 61px;
}

.btn-disabled-blue:hover{
    /* background-color: #008CBA;
    color:orange; */
    opacity: 0.6;
    cursor: not-allowed;
}
/* OUR THEMES END */


/* POSSIBILITIES START*/
.possibilities{
    display: flex;
    flex-wrap: nowrap;
}

.possbty-item{
    float: left;
    width: 25%;
    height: 374px;
}

.text-square{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 120px;
}

.square-theme-option{
    padding-top: 95px;
    padding-bottom: 48px;
    border-top: 7px solid #18cfab;
    background-color:  #1c2a33;
    text-align: center;
}

.theme-option, .support {
    color:  #18cfab;
}

.square-diamond{
    padding-top: 106px;
    padding-bottom: 59px;
    border-top: 7px solid #ffffff;
    background-color:  #18cfab;
    text-align: center;
}

.customizable, .all-device{
    color:  #ffffff;
}

.square-support{
    padding-top: 95px;
    padding-bottom: 49px;
    border-top: 7px solid  #18cfab;
    background-color:   #1c2a33;
    text-align: center;
}

.square-all-device{
    padding-top: 105px;
    padding-bottom: 59px;
    border-top: 7px solid #ffffff;
    background-color:  #18cfab;
    text-align: center;
}
/* POSSIBILITIES END*/


/* OUR SERVICES START*/
.our-services{
    padding-top: 82px;
    display: flex;
    justify-content: center;
    background-color:  #ffffff;
}

.services-bar{ 
    display: flex;
    margin-bottom: 25px;
}

.bar-item{
    position: relative;
    box-sizing: border-box;
    padding: 30px 0;
    width: 16.7%;
    text-align: center;
    background-color: #f8fcfe;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    border-left: 1px solid #ececec;
}

.bar-item:last-child{
    border-right: 1px solid #ececec;
}

.bar-item.serv-b-active{
    background-color: #18cfab;
    color: #fff;
}

.serv-b-active::after {
    content: ''; 
    position: absolute;
    left: 0; 
    right: 0;
    width: 0;
    margin: 0 auto;
    bottom: -20px; /* Положення трикутника */
    border: 10px solid transparent; /* Прозорі границі */
    border-top: 10px solid#18cfab;; /* Додаєм трикутник */
}

.bar-item:hover{
    background-color: #18cfab;
    color: #fff;
    cursor: pointer;
}

.services-item{
    display: flex;
    margin-bottom: 100px;
}

.services-text{
    color:  #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    text-align: justify;
}

.img-serv-noDisplay{
    display: none;
}

.img-serv-displayIt{
    display: block;
}

.text-serv-noDisplay{
    display: none;
}

.text-serv-displayIt{
    display: block;
    margin-left: 20px;
}
/* OUR SERVICES END*/


/* JUST-BUY START*/
.just-buy{
    padding-top: 105px;
    display: flex;
    flex-direction: column;
    background-image: url('../images/bgimg-sect-just-buy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.secrion-title{
    color:  #18cfab;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
}

.section-description{
    color:  #d8d8d8;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    padding-top: 35px;
}

.just-buy-footer{
    position: relative;
    width: 100%;
    text-align: center;
    line-height: 61px;
    margin: 80px 0 127px 0;
}

.btn-active-green:hover{
    background-color: #4CAF50;
    color:orange;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
}
.overlay.show {
    display: block;
}
#modal {
    width: 600px;
    height: 200px;
    background-color: grey;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}
#modal.open {
    display: block;
}
.close {
    text-decoration: none;
    position: absolute;
    top: 5px;
    right: 7px;
    color: #00aaaa;
}
#modal h4 {
    text-align: center;
}
#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form input {
    margin: 5px;
}
/* JUST-BUY END*/


/* OUR-AMAZING-WORK START*/
a{
    text-decoration: none;
}

.our-work{
    padding-top: 97px;
    display: flex;
    justify-content: center;
    background-color: #f8fcfe;
}

.works-bar{ 
    display: flex;
    flex-direction: row;
    height: 58px;
    justify-content: center;
    align-items: center;
    margin-bottom: 71px;
}

.work-item{
    border: 1px solid #ededee;
    color:  #717171;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    padding: 21px;
    transition: 0.4s;
}

.work-item:hover{
    color: #18cfab;
    padding-top: 20px;
    border-top: 3px solid #18cfab;
    cursor: pointer;
}

.our-portfolio{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 1143px;
    align-items: center;
}

.prtf-item{
    position: relative;
    height: 207px;
    width: 25%;
    overflow: hidden;
}

.prtf-hidden{
    display: none;
}

.prtf-item img{
    width: 100%;
    height: 100%;
}

.img-hover{
    width: 290px;
    height: 207px;
    display: flex;
    box-sizing: border-box;
    border-top: 3px solid #18cfab;
    padding: 46px 0 52px 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: absolute;
    background-color: #f8fcfe;
    transition: 0.4s;
    transform: translateY(100%);
}

.prtf-item:hover .img-hover{
    transform: translateY(-100%);
}

.prtf-description{
    color:  #18cfab;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.brief-link{
    display: inline-block;
    color:  #8a8a8a;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
}

.both{
    display:flex;
}

.img-hover .prtf-links{
    margin: 0 2.5px;
    width: 40px;
    height: 40px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    line-height: 40px;
    color: #18cfab;
}

.prtf-links:hover{
    background-color: #18cfab;
    color: #fff;
}

.our-work-footer{
    display:flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 70px 0 80px 0;
}

.prtf-images-load-hidden{
    display: none;
}

.load-prtf{
    background-color:  #18cfab;
    line-height: 61px;
}
/* OUR-AMAZING-WORK END*/


/* BREAKING NEWS START*/
.breaking_news{
    padding-top: 84px;
    display: flex;
}

.news{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.news-item{
    display: flex;
    flex-direction: column;
    height: 280px;
    justify-content: center;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 45px;
    margin-right: 25px;
}

.upper-block{
    display: flex;
    flex-direction: column;
    width: 68px;
    height: 66px;
    position: absolute;
    right: 0;
    top: 0;
    background-color:#203e38;
}

.news-itemDate, .news-itemMonth{
    color:  #ffffff;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

.under-block{
    position: relative;
    width: 100%;
    height: 72px;
    background-color:#f8fcfe;
    border: 1px solid #ececec;
    padding-top: 15px;
}

.block-title{
    color:  #717171;
    font-size: 18px;
    font-weight: 700;
}

.from-admin{
    position: absolute;
    padding-top: 15px;
    padding-left: 48px;
}

.from-admin{
    color:  #777777;
    font-size: 14px;
    font-weight: 300;
}

.from-admin::after{
    position: absolute;
    content: '2 comments';
    right: -94px;
}

.news-item:hover .block-title{
    color: #18cfab;
}

.news-item:hover .upper-block{
    color: white;
    background-color: #18cfab;
}
/* BREAKING NEWS END */


/* WHAT-PEOPLE-SAY START */
.bgImg-sect-peopleSay{
    background-image: url("../images/Layer 3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 850px;
    width: 100%;
}

.bgImgCover-slick{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.what-people-say{
    padding-top: 100px;
    padding-bottom: 50px;
}

.sectSlick-title{
    color:  #ffffff;
    margin-bottom: 70px;;
}

.slider {
    display: flex;
}

.slider-for .primary-photo{
    position: relative;
    width: 100px;
    height: 100px;
    margin: 10px auto;
    border-radius: 60%;
    box-shadow: 0 0 0 5px rgba(31, 218, 181, 0.2);
}

.quote{
    text-align: center;
}

.fa-quote-left{
    color:  #18cfab;
    width: 44px;
    height: 30px;
}

.feedback{
    width: 100%;
    color:  #bbbbbb;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin: 43px; 
}

.client-name{
    color:  #18cfab;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin: 43px;
}

.client-position{
    color:  #bbbbbb;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    margin: 43px;
}

.primary-photo {
    border-radius: 70%;
    box-shadow: 0 0 0 2px rgb(31, 218, 181), 0 0 0 10px rgba(31, 218, 181, 0.2);
}

.slider.slider-nav {
    max-width: 500px;
    margin: 0 auto;
}

.slider .image-photo{
    margin: 10px 35px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.slider-nav .item {
    text-align: center;
    cursor: pointer;
    padding-top: 20px;
}

.slick-prev:before{
    content: '\2039';
    left: -25px;
}

.slick-next:before {
    content: '\203A';
    left: 15px;
}

.slick-prev:before, .slick-next:before {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(248, 252, 254);
}

.slick-prev:hover:before, .slick-next:hover:before{
    background-color: rgb(24, 207, 171);
    border-color: rgb(24, 207, 171);
}
/* WHAT-PEOPLE-SAY END */


/* BEST IMAGES START */
.best-images{
    background-color: #f8fcfe;
    padding: 75px 0 ;
}

.grid {
    max-width: 1160px;
    position: relative;
}

.grid-bottom{
    margin-bottom: 65px;
}

.grid-item {
    display: flex;
    width: 32%;
    margin-bottom: 1%;
}

.grid-sizer {
    width: 32%;
}

.gutter-sizer {
    width: 2%;
}

.combined-blocks{
    flex-wrap: wrap;
}

.two-in-one {
    display: flex;
    justify-content: space-between;
    height: 180px;
    margin-bottom: 5px;
}
.nine_in-one{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.mr-2-1{
    margin-right: 5px;
}

.mr-9-1{
    width: 120px;
    height: 92px;
    margin-bottom: 5px;
}

.img-left, .img-right{
    width: 50%;
}

.best-images-footer{
    display:flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 70px 0 80px 0;
}

.best-images-load-hidden{
    display: none;
}

.load-img{
    background-color:  #18cfab;
    line-height: 61px;
}

.img-hidden{
    display: none;
}

.img-box{
    position: relative;
    display: flex;
}

.img-box img{
    width: 100%;
    height: 100%;
}

.blackout-items-box{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.blackout-items{
    display: none;
}

.blackout-item-search, .blackout-item-expand, .blackout-item-expand-2 {
    width: 40px;
    height: 40px;
    color: white;
    background-color: #0cbbd6;
    text-align: center;
    margin-right: 8px;
}

.img-box:hover .blackout-items-box{
    background-color: rgba(0,0,0,0.5);
}

.nine_in-one:hover .blackout-items-box{
    background-color: rgba(0,0,0,0.5);
}

.nine_in-one:hover .blackout-items{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.img-box:hover .blackout-items{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.blackout-item-search:hover, .blackout-item-expand:hover, .blackout-item-expand-2:hover {
    color: #18cfab;
    background-color: #fff;
}

.imgScale, .imgScale2{
    /* display: none; */
    /* width: 1100px;
    height: 800px; */
    /* background-color:red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* right: 0;
    bottom: 0; */
    z-index: 99;
}

.imgScale2 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.scaled-img{
    width: 100%;
    height: 100%;
    border: 2px solid white;
}

.scaled-img2 {
    width: 32%;
    border: 2px solid white;
}

/* BEST IMAGES END */


/* SITE FOOTER START */
.siteFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #22353f;
    height: 108px;
}

.footer-text{
    color:  #aeaeae;
    font-size: 14px;
    font-weight: 300;
}

.footer-text-green{
    color:  #18cfab;
}
/* SITE FOOTER END */